<!DOCTYPE html>
<head>
    <title>Wang Xin Blog</title>
</head>
<body>
    <center><h1>Welcome!</h1></center>
    <table>
        <tr>
            <td width="100%">
                <center>
                    {{ body | safe }}
                </center>
            </td>
            <td>
                <h3>MENU</h3>
                <ol>
                    <li><a href="/">/</a></li>
                <ol>
            </td>
        </tr>
        <tr>
            <td><a href="/edit/{{ doc }}.html">EDIT</d></td>
    </table>
</body>
